<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="../css/style.css" />
    <title>Diary</title>
  </head>
  <body>
    <!-- The Modal -->
    <div id="myModal" class="custom-modal">
      <!-- Modal content -->
      <div class="custom-modal-content">
        <span class="custom-close">&times;</span>
        <h5>Add New Entry</h5>
        <p>Some text in the Modal..</p>
      </div>
    </div>

    <div
      style="margin: auto auto; width: 90%; max-width: 1000px; height: 100%;"
    >
      <h3>Hi <%= name %></h3>

      <div class="fixed-action-btn">
        <a class="btn-floating btn-large red" id="myBtn">
          <i class="large material-icons">add</i>
        </a>
      </div>

      <table>
        <thead>
          <tr>
            <th>When</th>
            <th>Peak Flow (L/min)</th>
            <th>Medication</th>
            <th>Comment</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Wed, 27 July 2020, 22:07</td>
            <td>610</td>
            <td>None</td>
            <td>Feeling fine.</td>
          </tr>
          <tr>
            <td>Thur, 28 July 2020, 21:53</td>
            <td>570</td>
            <td>Pre-Med</td>
            <td>Not great, bit out of breath but generally alright.</td>
          </tr>
          <tr>
            <td>Fru, 29 July 2020, 21:49</td>
            <td>630</td>
            <td>Post-Med</td>
            <td>Inhaler really did the trick today.</td>
          </tr>
        </tbody>
      </table>
    </div>

    <form action="/logout?_method=DELETE" method="POST">
      <button type="submit">Log Out</button>
    </form>

    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>
  </body>
  <!-- <script type="module" src="../js/script.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("custom-close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
      modal.style.display = "block";
    };

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    };

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    };
  </script>

  <style>
    /* The Modal (background) */
    .custom-modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 9999; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0, 0, 0); /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .custom-modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 90%;
      max-width: 600px;
    }

    /* The Close Button */
    .custom-close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .custom-close:hover,
    .custom-close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    body {
      padding: 0;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  </style>
</html>
