<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="../css/style.css" />
    <title>Register</title>
  </head>

  <body>
    <div style="width: 90%; max-width: 300px; padding-top: 5%;">
      <h5 style="text-align: center;">
        Register
      </h5>

      <form action="/register" method="POST">
        <div>
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required />
        </div>

        <div>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
        </div>

        <div>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>

        <br />

        <button
          class="btn waves-effect waves-light"
          type="submit"
          name="action"
          style="width: 100%;"
        >
          Register
        </button>
      </form>

      <br />
      <br />

      <p>Already have an account? <a href="/login">Login</a></p>
    </div>

    <footer id="footer">
      <%- include('../partials/footer.ejs') %>
    </footer>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <style>
    body {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    #footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2.5rem; /* Footer height */
      text-align: center;
      margin-bottom: 10px;
    }
  </style>
</html>
